h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', Georgia, Times, serif;
  <!-- color: #900; -->
  font-weight: normal;
  color: #FCA205 !important;
}

p, div {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.428;
}

.jumbotron {
  margin: 5px 0;
  text-align: center;
  background-color: #FCFCFC;
  <!-- background: url(clean_textile.png); repeat 0 0; -->
}

body {
  padding-top: 10px;
  padding-bottom: 20px;
  background: url(lightpaperfibers.png) repeat 0 0;
}

.hidden {
  display: hidden;
}
