h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', Georgia, Times, serif;
  font-weight: normal;
  /* color: #900; */
  /* color: #FCA205 !important; */
  color: #3C948B !important;
}

a {
  color: #3C948B;
}

p, div {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.428;
}

.img-thumbnail {
  background: #78A;
  padding: 2px;
  border: 0;
}

.jumbotron {
  margin: 5px 0;
  text-align: center;
  background-color: #D0D0D0;
  /* background: url(../img/clean_textile.png); repeat 0 0; */
}

body {
  padding-top: 10px;
  padding-bottom: 20px;
  /* background: url(../img/lightpaperfibers.png) repeat 0 0; */
  background-color: #E1E3E4;
  color: #313131 !important;
}

a {
    outline: 0 !important;
}

.hidden {
  display: hidden;
}

.row {
  padding-top: 15px;
}
